# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
GEMINI_API_KEY=

# Google Backup Configuration
# The JSON key of the Google Service Account
GOOGLE_SERVICE_ACCOUNT_JSON=
# The ID of the target Google Drive folder
GOOGLE_BACKUP_FOLDER_ID=
